awscli==1.42.40
blinker==1.9.0
boto3==1.40.40
botocore==1.40.40
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
docutils==0.19
Flask==3.1.2
flask-cors==6.0.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==3.0.2
nba_api==1.10.1
numpy==2.3.3
pandas==2.3.2
pyasn1==0.6.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
rsa==4.7.2
s3transfer==0.14.0
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
